  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <%= form_with url: search_path, method: :get, local:true do |f| %>
        <%= f.search_field :search %>
        <%= f.select :option,[["user","1"], ["book","2"]] %>
        <%= f.select :choice,[["部分一致","1"], ["後方一致","2"],["前方一致","3"], ["完全一致","4"]] %>
        <%#= f.submit '検索' %>
        <% end %>
      </div>
    </div>
  </div>